<button routerLink="/">Go Back</button>
<button (click)="removeThisPost()" *ngIf="post.userId == user.uid">Remove</button>

<ng-container *ngIf="post">
  <h2 [innerText]="post.title"></h2>
  <h3>Score is =>{{post.score}}</h3>

  <button (click)="toggleVote()" *ngIf="!user?.voted.includes(postId)">
    <ng-container *ngIf="userVoted">Down Vote</ng-container>
    <ng-container *ngIf="!userVoted">Up Vote</ng-container>
  </button>

  <p [innerText]="post.body"></p>
</ng-container>

<vb-comments [postId]="postId"></vb-comments>

